<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TextUtil</title>
</head>
<body>

<form action="/contactUs", method='get'>
     <textarea name="content" style="margin: 0px; width: 484px; height: 124px;"></textarea><br><br>
    <input type="checkbox" name="checkbox1"> Validation Done <br>
    <input type="checkbox" name="checkbox2"> Convert Upper Case <br>
    <input type="checkbox" name="checkbox3"> Remove Space <br>
    <input type="checkbox" name="checkbox4"> COunt Char <br>
    <button type="submit" style="padding: 10px 24px; ">Submit!</button>

</form>

</body>
</html>